{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ doc.title or doc.name }}</h1>
<h2>Flight Details</h2>
<ul>
    <li>Airline : {{doc.airplane}}</li>
    <li>{{doc.source_airport_code}} &#8594; {{doc.destination_airport_code}}</li>
    <li>{{frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY")}} &#9474; {{doc.time_of_departure}}</li>
    <li>Duration : {{frappe.utils.format_duration(doc.duration)}}</li>
</ul>
{% set flight = frappe.get_doc("Airplane Ticket", doc.flight_price) %}
<a class="btn btn-info btn-lg" href="/book-flight-ticket-web-form/new?flight={{doc.name}}&flight_price={{flight.flight_price}}">Book Flight</a>

{% endblock %}

<!-- this is a sample default web page template -->